<div class="container">

<div class="row">
                <div class="col-md-12">
                        <div class="text-center">
                                <h1>Tech Test</h1>
                                <p><b>Software Development Technical Assessment</b></p>
                                <div class="form-group">
                                        <a class="btn btn-warning" href="#!exone">Exercise1</a>
                                        <a class="btn btn-danger" href="#!extwo">Exercise2</a>
                                </div>
                        </div>
                </div>
</div>

<section id="carousel" ng-carousel
    ng-swipe-right="curSlide=curSlide-1" 
    ng-swipe-left="curSlide=curSlide+1">

    <ul>
      <li><img src="officeview.png" />
      <li><img src="background-vector-baby.jpg" />
      <li><img src="background hd.jpg" />
    </ul>
    
    <div id="prev-button" ng-click="curSlide=curSlide-1"> &lt; </div>
    <div id="next-button" ng-click="curSlide=curSlide+1">&gt; </div>
</section>

<!-- Footer -->
<footer id="footer">
        <p>Made by <a href="https://github.com">{{home.text1}}</a>.</p>
        <p>Code released under <a href="https://github.com">{{home.text2}}</a>.</p>
        <p>© 2018 Copyright:
                <a href="https://github.com">{{home.text3}}</a>
        </p>
</footer>
<!-- Footer -->
</div>