.btn{
    color: white;
    font-weight: bold;
}

.container{
    margin-top: 0px;
    margin-bottom: 0px;
}

#carousel {width:100%; height:768px;}
#carousel #prev-button, #carousel #next-button {
      position:absolute; top: 40%; font-size: 3em; color: #fff;
} 
#carousel #prev-button { left: 10px }
#carousel #next-button { right: 10px }
#carousel img {width: 100%; height: 700px;}

.row{
    margin:0 auto; 
    width:100%;
    overflow: auto; }

    .jumbotron{
		background-image: url("1440x650.png");
		margin-top: 0px;
		margin-bottom: 0px;
		background-size: cover;
		width: 100%;
		height: 500px;
		top: 0px;
		bottom: 0px;
		background-position: center;
		background-repeat: no-repeat;
        color: white;
    }
     
     @media only screen and (min-width : 768px)  and (max-width : 1024px) {     
     .row{ width:100%; }
     .jumbotron{
		background-image: url("1440x650.png");
		margin-top: 0px;
		margin-bottom: 0px;
		background-size: cover;
		width: 100%;
		height: 500px;
		top: 0px;
		bottom: 0px;
		background-position: center;
		background-repeat: no-repeat;
        color: white;
    }
    }
     
     @media only screen and (min-width : 569px)  and (max-width : 767px) {     
     .row{ width:100%; }
     .jumbotron{
		background-image: url("1440x650.png");
		margin-top: 0px;
		margin-bottom: 0px;
		background-size: cover;
		width: 100%;
		height: 500px;
		top: 0px;
		bottom: 0px;
		background-position: center;
		background-repeat: no-repeat;
        color: white;
    }}
     
     @media only screen and (min-width : 240px)  and (max-width : 568px) {
     .row{ width:100%; }
     .jumbotron{
		background-image: url("600x600.png");
		margin-top: 0px;
		margin-bottom: 0px;
		background-size: cover;
		width: 100%;
		height: 300px;
		top: 0px;
		bottom: 0px;
		background-position: center;
		background-repeat: no-repeat;
        color: white;
    }
    }
    
    #footer {
        width: 100%;
        background-color: rgb(0, 0, 0);
        color: white;
        text-align: center;
	}

	.accordion {
		width: 100%;
		height: 100%;
		background-color: white;
	  }
	  
	  .repeated-item {
		display:none;
		width: 100%;
		height: 100%;
	  }
	  
	  .repeated-item.ng-enter, .repeated-item.ng-move {
		transition: all 1.0s linear;
		opacity: 0.4;
	  }
	  
	  .repeated-item.ng-enter.ng-enter-active,
	  .repeated-item.ng-move.ng-move-active {
		opacity: 1;
	  }
	  
	  .repeated-item.ng-leave {
		animation: 1.0s my_animation;
	  }
	  
	  .open-accordion{
	  display:block;
	  }

	  ul.repeated-item {
		list-style-type: square;
	  }
	